<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Accordion</title>
    <!-- Bootstrap CSS -->
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %}">
</head>
<style>
  body{background-color:gray}
</style>
<body>
  <div class="container"></div>
    <h1 style="text-align:center"> Hello there, Check these out!</h1>
    <div class="accordion" id="accordionExample">
        <div class="card" style="text-align:center;" id="first">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Description
              </button>
              <button id="firstUP" onclick=up(first)>↑</button>
              <button id="firstDOWN" onclick=down(first)>↓</button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Competitively tryharding in the wrong place.
            </div>
          </div>
        </div>
        <div class="card"  style="text-align:center;" id="second">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Activities
              </button>
              <button id="secondUP" onclick=up(second)>↑</button>
              <button id="secondDOWN" onclick=down(second)>↓</button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Doing the most from nothing.
            </div>
          </div>
        </div>
        <div class="card"  style="text-align:center;" id="third">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Achievement
              </button>
              <button id="thirdUP" onclick=up(third)>↑</button>
              <button id="thirdDOWN" onclick=down(third)>↓</button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
               Empty, pepeHands.
            </div>
          </div>
        </div>
        <div class="card"  style="text-align:center;" id="fourth">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  CGT 2019 - PERAK 2020
                </button>
                <button id="fourthUP" onclick=up(fourth)>↑</button>
                <button id="fourthDOWN" onclick=down(fourth)>↓</button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                back-to-back CSGO win without losing a match, ezclap.
              </div>
            </div>
          </div>
      </div>
    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        function up(input) {
            var secondAcc = $(input)
            var nextAcc = secondAcc.prev();
            nextAcc.insertAfter(secondAcc);
        }
        function down(input) {
            var currAcc = $(input);
            var nextAcc = currAcc.next();
            nextAcc.insertBefore(currAcc);
        }
    </script>
    
</body>
</html>